  *{
  padding: 0%;
  margin: 0%;
}

.header-container {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }

  .header-container .header:hover {
    background-color: red;
  }
  
  .header-container a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-container .log-out{    
    margin-left: 65%;
  }

  .dropdown-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-2 a{
    float: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
  }

  .buyer-list button{
    float: none;
    color: black;
    background-color: #f9f9f9;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
  }

  .dropdown-0:hover .dropdown-2 {
    display: block;
  }

  .dropdown-0 .dropbtn-1 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .buyer-list{
    display: none;
  }

  .buyer:hover .buyer-list {
    display: block !important;
    position: absolute;
    top: 0px;
    left: 155px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 
