@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233,233,233);
  }
  input[type=name], input[type=email], input[type=password], input[type=cpassword]{
    width: 100%;
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #f2f2f2;  
  }
  .login-button{
    background-color: red; 
    color: white;
      border-radius: 25px;
      border: none;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin-left: 97px;
      margin-top: 10px;
  }
  a{
      color: white;
      text-decoration: none;
  }
  hr {
    border: 1px solid rgb(233,233,233);
    margin-top:20px;
    margin-bottom: 20PX;
  }
  h2{
    text-align: center;
  }
  .container{
    /* margin-right: 500px;
    margin-left: 500px; */
    margin-top: 65px;
    background-color: white;
    padding: 27px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .new-user{
      text-align: center;
      padding-right: 10px;
      padding-top: 20px;
  }
  .new-user a{
      color: red;
  }
  .cs-image{
      width: 32.5%;
      margin-top: 66px;
      margin-left: 314px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }